.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    gap: 10px;
}

.content {
    grid-area: content;
    display: grid;
    grid-template-columns:min-content min-content auto min-content;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "photo detail detail detail"
        "sidebar-left iyla-img iyla sidebar-right"
        "simba simba simba simba-img";
    gap: 10px;
}

.site-header {
    grid-area: header;
}

.my-img {
    grid-area: photo;
}

.detail {
    grid-area: detail;
}

.site-footer {
    grid-area: footer;
    background-color: #E5E5E5;
    color: black;
    padding-left: 10px;
}