* {
    font-family: monospace;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "content"
        "footer";
    gap: 1em;
}

/* Header */
.site-header {
    grid-area: header;
    padding-left: 10em;
    padding-right: 10em;
    margin: 1em;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;

}

nav>a {
    color: #555;
    font-style: normal;
    cursor: pointer;
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}

/* Content */
.content {
    grid-area: content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "intro"
        "education"
        "experiences"
        "testimonial"
        "contact"
        "other";
    gap: 2em;
}



.intro {
    grid-area: intro;
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: auto;
    grid-template-areas:
        "intro-photo intro-detail intro-detail intro-detail";
    gap: 2em;
}

.intro-photo {
    grid-area: intro-photo;
    width: 100%;
}

.intro-detail {
    grid-area: intro-detail;
}

.education {
    grid-area: education;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    gap: 2em;
}

.experiences {
    grid-area: experiences;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    gap: 2em;
}

.testimonial {
    grid-area: testimonial;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    gap: 2em;
}

.contact {
    grid-area: contact;
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: auto;
    gap: 2em;
}

.other {
    grid-area: other;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    gap: 2em;
}

/* Footer */
.site-footer {
    grid-area: footer;
    background-color: #E5E5E5;
    color: black;
    padding-left: 2em;
}


/* to Top of page Button */
#toTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#toTopBtn:hover {
    background-color: #555;
}